.context-menu{
  position absolute;
  left 0;
  top 0;
  border-radius 4px;
  .menu-item{
    display flex;
    align-content: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    >i{
      line-height 36px;
    }
  }
}