.box{
  position: absolute
  width 100%
  height 100%
  text-align: center
  z-index: 30
  .container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width 250px
      height 250px
    }
    .text{
      font-size: 16px
      color: #5C5C5C
      font-weight: 400;
    }
  }
}