.connect-mooz {
  margin-bottom: 20px;

  input {
    width: 200px;
    height: 26px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .select-port {
    margin-bottom: 10px;

    .select-laber {
      margin-bottom: 5px;
    }

    .select-content {
      display: flex;
      align-items: center;

      >div {
        width: 100%;
        font-size: 12px;
      }
    }
  }

  .connect-btn {
    button {
      font-size: 12px;
      height: 24px;

      >i {
        margin-right: 5px;
      }
    }
  }

  .wifi-handle {
    display: flex;

    >button {
      height: 24px;
      margin-left: 20px;
    }
  }
}

.protective-shield {
  height: 20px;

  button {
    float: right;
  }
}

.protective-tips {
  color: #000;
  padding-bottom: 40px;

  p {
    display: block;
    padding: 5px 15px;
    height: 32px;
    font-style: 14px;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, .06);
  }

  article {
    padding: 8px 15px;
  }

  button {
    height: 24px;
    position: absolute;
    bottom: 15px;
    right: 8px;
  }
}

.tooltipCustom {
  background-color #fff;
  div{
    div{
      &:first-child{
        background-color #fff;
        }
      &:last-child{
      background-color #fff;
      }
    }
  }
}