.container {
  position: absolute;
  height: calc(100% - 10px);
  width: calc(100% - 20px);
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
  z-index: 556;
  display: none;

  &.show {
    display: flex;
  }

  .cancel {
    position: absolute;
    bottom: 38%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: #fff;
    display: none;

    &.show-btn {
      display: inline-block;
    }
  }
}
