.gcode-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  width: 294px;
  position: absolute;
  left: -20px;

  tr {
    td {
      text-align: center;
      border: 1px solid #ddd;
      padding: 5px 4px;
      white-space: pre-wrap;
      width: 25%;
    }
  }
}