.container {
  display: flex;

  .main {
    flex: 1;
    background-color: #fff;
    position: relative;
  }

  .asider {
    width: 332px;
    padding: 32px 0 17px 22px;

    .asider-inner {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
    }
  }
}
