.visualizer{
  height 100%
  background-color #fff
  border-radius 4px;
  position relative;
  .header{
    height 40px
    background-color #fff;
    padding 0
    border-bottom 1px solid #D8D8D8;
    padding-left 10px
    border-radius 4px 4px 0px 0px;
    .right-tool{
      border-radius 4px;
      background-color #fff
      position absolute
      right 0
      top 0
      display:flex;
      align-items: center
      height 39px
      >button{
        height 30px
        width 126px
        margin 0 10px
        padding: 0 10px
        overflow: hidden
        white-space nowrap
        text-overflow: ellipsis
      }
    }
  }
  .footer{
    padding 0
    background-color #fff
    border-top 1px solid #D8D8D8;
    padding-left 20px
    border-radius 0 0 4px 4px;
  }
}


