.workflow-control {
    height 30px;
    line-height 30px;
    margin-left 10px
    .btn-group {
      background-color: #fff;
      margin 0
      .upload-btn{
        height 30px
        margin 0
        padding 0 10px;
        .spantext{
          width: 104px;
          overflow:hidden;
          white-space:nowrap;
          text-overflow:ellipsis;
        }
      }
    }

}

.icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-bottom: 4px; // dropdown menu item

    &.icon-perimeter-tracing-square {
        background: url("./images/perimeter-tracing-square.svg") no-repeat 0 0;
    }
    &.icon-perimeter-tracing-circle {
        background: url("./images/perimeter-tracing-circle.svg") no-repeat 0 0;
    }
}
