.container{
  width 100%
  height calc(100% - 12px);
  margin: 5px 10px 0 0;
  border: 1px solid #cccccc
  border-radius: 4px
  box-shadow: 2px 2px 7px rgba(153,153,153,0.2);
  background-color #fff!important
  position relative
}
.modal{
  background-color #111111!important
  opacity:0.5
  position absolute
  top: 5px
  left: -10px
  width 100%
  height calc(100% - 12px)
  border-radius: 4px;
}