.print-top-tools {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  background-color: #fff;
}

.print-top-tools-right {
  display: flex;
}

.import-file {
  margin-left: 10px;
}

.isshow {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}
