.uploadFile{
  display flex
  flex-direction column
  .file-info{
    display none
    >div{
      margin-bottom 10px
      font-size 14px
      line-height 14px
    }
  }
  button{
    margin 0
    margin-bottom 10px
  }
}