.stop-btn{
  width 48px
  height 48px
  border-radius 50%;
  outline: none;
  border:none;
  box-shadow 0 2 6px  #E13F2A
  border 5px solid #E1D72A
  background-color #E13F2A
  color:#fff;
  margin 5px;
  font-size 13px;
  line-height 20px;
  padding: 0 5px 0 5px;
  &:hover{
   cursor pointer; 
  }
  &.disabled{
    border none;
    background-color #c7c7c7;
    cursor:no-drop
  }
}